body {
    font-family: "Roboto Mono", sans-serif;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large
}

h3 {
    font-size: larger;
}

h4 {
    font-size: large;
}

.container-centerer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.ast-main {
    padding-left: 2vw;
    padding-right: 2vw;
}

.ast-header {
    height: 9vh;
    padding-bottom: 2vh;
}

.ast-footer {
    height: 8vh;
}

#ast-game {
    border: 1px solid white;
}

#ast-body {
    background-color: black;
    color: white;
}