body {
    font-family: "Roboto Mono", sans-serif;
    background-color: black;
}

#asteroids {
    border: 1px solid white;
}

main {
    padding-left: 2vw;
    padding-right: 2vw;
}

header {
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2vh;
}

footer {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.child {
    flex: 1;
    text-align: center;
    color: white;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large
}

h3 {
    font-size: larger;
}

h4 {
    font-size: large;
}